.homeArea{
    width: 77%;
    margin-left: 21%;
    margin-top: 5%;
}

 /* ---------------Carousel Area ------------------ */

.carousel-area{
    height: 300px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
  }

  .carousel-area img{
    height: 300px;
    border-radius: 5px 5px 0px 0px;
  }

  .carousel-item{
    width:870px;
  }

  .carousel-inner{
    width:870px;
  }

  /* ---------------Carousel Area ------------------ */

  .upperArea{
    display: flex;
  }

/* ---------------Delivery Pincode Area ------------------ */

  .card{
    margin-left: 10px;
    height: 354px;
  }

  .card img{
    height: 130px;
    width:50%;
    margin-left: 60px;
    margin-top: 5px;
  }

  .card-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .card-text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
  }

  /* ---------------Delivery Pincode Area ------------------ */

/* ---------------Option Bar------------- */

  .optionBar{
    width: 870px;
    height: 50px;
    margin-top: -52px;
    border-radius: 0px 0px 5px 5px;
  }

  /* ---------------Option Bar------------- */

  /* ---------------Trending Product Section------------- */

  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
    width:100%;
    background-color: rgb(255, 255, 255);
  }

  .product-category {
    margin-top: 40px;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
  }
 
  
  .product-container {
    padding: 0 5vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card:hover {
    transition: 0.4s;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.68);
}

  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: auto;
    padding: 10px;
    background-color: rgb(255, 247, 247);
    margin-right: 40px;
    align-items: center;
  }
  
  
  .product-image {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  
  .product-short-description {
    width: 100%;
    height: 40px;
    line-height: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 700;
    font-size: 20px;
  }
  
  .actual-price {
    margin-right: 15px;
    opacity: 0.5;
    text-decoration: line-through;
  }

  .offerbtn{
    margin-left: 8px;
    height: 35px;
    border-radius: 3px;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
    width: 50PX;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
 
 
 